/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
  color: #3e8b51;
  padding: 30px;
  font-size: 200%;
}

p {
  color: #ececec;
  font-family: "arial";
  text-indent: 0px;
  margin-left: 0px;
}

div {
  color: #dfe23e;
  font-family: "arial";
}

.special { 
  background-color: #535353; 
} 

body {
  background-color: #314637;
  border: solid 0px;
  }

#content {
  background-color: #1c1922;
  width: 1350px;
  min-height: 700px;
  padding: 20px;
  margin: 60px;
  font-size: 20px;
  border: solid 0px;
}

